[[source]]
url = "https://mirror.lzu.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pymilvus = {extras = ["milvus-lite"], version = "*"}
langchain-milvus = "*"
milvus-lite = "*"
langchain-text-splitters = "*"
whoosh = "*"
jieba = "*"
langchain = ">=0.2"
langchain-openai = ">=0.1"
pydantic = ">=2"
python-dateutil = ">=2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.14"
